<h1>Restaurants</h1>


<%= link_to "Add Restaurant", new_restaurant_path, class: 'btn btn-primary'%>

<ul id="restaurants" class="list-group">
  <% @restaurants.each do |restaurant| %>
     <li class="list-group-item d-flex justify-content-between align-items-center"><%= restaurant.name %>
     <span class="badge badge-primary badge-pill"><%= link_to "Show this restaurant", restaurant %></span>
    </li>
  <% end %>
</ul>
